@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Dancing+Script:wght@700&display=swap');

.custom-jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(210,200,225,0.8);
  border-radius: 0.3rem;
}

h1 {
	text-align: center;
	font-family: 'Changa', sans-serif;
}

h5 {
	text-align: center;
}

.custom-text {
	text-align: center;
	font-family: 'Dosis', sans-serif;
}

#reg-page {
	background-image: url("Images/mountain.jpg");
}

#login {
	background-image: url("Images/birds.jpg");
}

.jumbotron-login {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(255,255,255,0.3);
  border-radius: 0.3rem;
}

.jumbotron-regpage {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(0,0,0,0.3);
  border-radius: 0.3rem;
}

.text {
	color: rgb(220,220,220);
	font-family: 'Baloo Bhaina 2', cursive;
}

h3 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
}

